.header__content {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: 155px;
    display: flex;
    gap: 35px;
    align-items: center;
}

.header__nav__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
}

.header__btn {
    margin-left: 160px;
    background: #3657cb;
    height: 50px;
    width: 130px;
    border-radius: 10px;
    border: none;
    font-family: Qanelas;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    color: #ffffff;
}
